---
layout: default
---
<!-- 在正文开头添加网易云音乐插件 -->
{% if page.music-id %}
    {% include cloud-music.html %}
{% endif %} 

<article class="single row gutters">
  <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time>
  <h2>{{ page.title }}</h2>

  {{ content }}
</article>

<!-- <div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'zbvae',
    repo: 'zbvae.github.io',
    oauth: {
        client_id: 'ee0f38ac0e21f22e7543',
        client_secret: '538f7d9dc3fb2a07bfe4302535ef1a8d4dcf146d',
    },
});
gitment.render('gitmentContainer');
</script> -->
<!-- 多说评论框 start -->
<!-- <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="https://www.loczb.com/{{ page.id }}"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"zbbk"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script> -->
<!-- 多说公共JS代码 end -->